<ion-content [fullscreen]="true">
  <div class="profile-container">
    <div class="profile-info">
      <div class="profile-image-wrapper">
        <img [src]="getPhoto()" class="profile-image" alt="Profile Image" />
        <!-- <ion-icon name="camera" class="camera-icon" (click)="takePicture()"></ion-icon> -->
      </div>
      <h3 class="profile-username">{{editProfileData.name}}</h3>
      <!-- <p class="profile-username">{{editProfileData.username}}</p> -->
      <p class="profile-mail">{{editProfileData.email}}</p>

      <ion-modal [isOpen]="isEditProfileModalOpen" (didDismiss)="closeEditProfileModal()">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Edit Profile</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="closeEditProfileModal()">Close</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
    
          <ion-content>
            <ion-item>
              <!-- <ion-label position="floating">Profile Image</ion-label> -->
              <img [src]="getPhoto()" class="profile-image-edit" alt="Profile Image" />
              <ion-icon name="camera" class="camera-icon" (click)="takePicture()"></ion-icon>
            </ion-item>
            
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input [(ngModel)]="editProfileData.name" placeholder="Enter name"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">Username</ion-label>
              <ion-input [(ngModel)]="editProfileData.username" placeholder="Enter username"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="editProfileData.email" placeholder="Enter email"></ion-input>
            </ion-item>
    
            <ion-item>
              <ion-label position="floating">Phone Number</ion-label>
              <ion-input [(ngModel)]="editProfileData.phone" placeholder="Enter phone number"></ion-input>
            </ion-item>
  
    
            <ion-button expand="block" class="save-btn" (click)="saveProfile()">Save</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
      
      <!-- <ion-button>Edit Profile</ion-button> -->
      <div class="profile-stats">
        <div>
          <ion-icon name="person-add-outline"></ion-icon>
          <p class="profile-stats-para-add">Add</p>
        </div>
        <div>
          <p class="profile-stats-follow">0</p>
          <p class="profile-stats-para">Followers</p>
        </div>
        <div>
          <p class="profile-stats-follow">0</p>
          <p class="profile-stats-para">Following</p>
        </div>
      </div>
      <ion-button (click)="openEditProfileModal()">Edit Profile</ion-button>
      <ion-button>Share Profile</ion-button>
    </div>
    
    <div class="profile-tabs">
      <ion-segment [(ngModel)]="selectedTab">
        <ion-segment-button value="ads">My Ads</ion-segment-button>
        <ion-segment-button value="orders">My Orders</ion-segment-button>
        <ion-segment-button value="favorites">Favorites</ion-segment-button>
      </ion-segment>

      <ion-card *ngIf="selectedTab === 'ads'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>My Ads</ion-card-title>
          <ion-card-subtitle>Ads Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the My Ads content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedTab === 'ads'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>My Ads</ion-card-title>
          <ion-card-subtitle>Ads Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the My Ads content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedTab === 'ads'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>My Ads</ion-card-title>
          <ion-card-subtitle>Ads Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the My Ads content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedTab === 'orders'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>My Orders</ion-card-title>
          <ion-card-subtitle>Orders Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the My Orders content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedTab === 'orders'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>My Orders</ion-card-title>
          <ion-card-subtitle>Orders Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the My Orders content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedTab === 'orders'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>My Orders</ion-card-title>
          <ion-card-subtitle>Orders Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the My Orders content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedTab === 'favorites'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Favorites</ion-card-title>
          <ion-card-subtitle>Favorites Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the Favorites content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedTab === 'favorites'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Favorites</ion-card-title>
          <ion-card-subtitle>Favorites Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the Favorites content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="selectedTab === 'favorites'">
        <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
        <ion-card-header>
          <ion-card-title>Favorites</ion-card-title>
          <ion-card-subtitle>Favorites Subtitle</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          Here's a small text description for the Favorites content. Nothing more, nothing less.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>





















